body{
font-family:Arial;
background:#111;
color:white;
margin:0;
}

.container{
max-width:400px;
margin:120px auto;
text-align:center;
}

header{
display:flex;
align-items:center;
gap:70px;

/* remove espaçamento lateral extra */
padding:0;
margin-bottom:20px;
}

.logo{
height:90px;
object-fit:contain;
}


input{
display:block;
margin:12px auto;
padding:12px;
width:100%;
max-width:320px;
border-radius:6px;
border:none;
font-size:14px;
}


button{
margin-top:10px;
padding:10px 20px;
border:none;
border-radius:6px;
cursor:pointer;
font-size:14px;
}


#contracheque{
background:#cfe3cf;
color:black;
padding:20px;
margin-top:30px;
}

.hidden{
display:none;
}

.linha{
display:flex;
justify-content:space-between;
margin:5px 0;
}

.total{
font-weight:bold;
font-size:18px;
}

.logo-inferior{
display:flex;
justify-content:center;
margin-top:40px;
}

body{
font-family:Arial;
background:#111;
color:white;
margin:0;
}

/* MARCA D'ÁGUA */
body{
font-family:Arial;
background:#111;
color:white;
margin:0;
}


body::before{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background: rgba(0, 0, 0, 0.25);

/* AQUI controla transparência */
z-index:-1
/* comentário */
}

body::after{
content:"";
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background-image:url("logo.png");
background-repeat:no-repeat;

background-position:center;
background-size:420px;

opacity:0.2;

z-index:-1;
pointer-events:none;

/* ANIMAÇÃO */
animation: flutuarLogo 5s ease-in-out infinite;
}

/* ANIMAÇÃO */
@keyframes flutuarLogo {
0% {
transform:translateY(0px) scale(1);
}
50% {
transform:translateY(-15px) scale(1.02);
}
100% {
transform:translateY(0px) scale(1);
}
}

.menu{
display:flex;
flex-direction:column;
gap:15px;
margin-top:30px;
}

.menu button{
padding:15px;
font-size:16px;
border:none;
border-radius:8px;
cursor:pointer;
background:#1f1f1f;
color:white;
transition:0.3s;
}

.menu button:hover{
background:#2f2f2f;
transform:scale(1.03);
}

.logout{
margin-top:40px;
padding:8px 20px;
background:#444;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

h1{
margin-bottom:5px;
}

#usuarioLogado{
color:#aaa;
margin-bottom:20px;
font-size:14px;
}

/* ============================= */
/* FORMULÁRIO CADASTRO FUNCIONÁRIO */
/* ============================= */

.formulario{
    width:100%;
    max-width:700px;
    margin:40px auto;
    text-align:left; /* esquerda */
}

.campo{
    display:block;
    margin-bottom:18px;
}

.campo label{
    display:block;
    margin-bottom:6px;
    font-weight:bold;
}

.campo input,
.campo select,
.campo textarea{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:none;
    font-size:14px;
}

textarea{
    min-height:80px;
}

/* campos que aparecem quando SIM */
.condicional{
    margin-top:8px;
}

/* hora inicio fim */
.hora-box{
    display:flex;
    gap:10px;
}

.hora-box input{
    width:120px;
}

/* campo número dependentes */
.quantidade-box{
    margin-top:8px;
}

